<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <a id="logo-hack" href="/">
          {% include hack.html %}
        </a>
      </li>
      {% for node in site.pages %}
        {% if node.in_header %}
          {% if page.url == node.url %}
            <li class="active"><a class="page-link active" href="{{node.url}}"><span class="page-link-text">{{node.title}}</span></a></li>
          {% else %}
            <li><a class="page-link" href="{{node.url}}"><span class="page-link-text">{{node.title}}</span></a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </li>
    </ul>
  </div>
</div>

<!--<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>-->
