<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <a id="logo-hack" href="/">
          {% include hack.html %}
        </a>
      </li>
      <li>
        <a class="page-link" href="/springboard-projects/">Springboard</a>
      </li>
      <li>
        <a class="page-link" href="/hackers/">Hackers</a>
      </li>
      <li>
        <a class="page-link" href="/code-of-conduct/">Code of Conduct</a>
      </li>
      <li>
        <a class="page-link" href="/faq/">FAQ</a>
      </li>
    </ul>
  </div>
</div>

<!--<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>-->
