/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

section {
    margin:0;
    @media #{$large-screen} {
        margin: 2em;
    }
}

.content {
    > h1 {
        font-family: unhackathon-font;
        text-align: center;
        font-size: 20px;
        @media #{$large-screen} {
            font-size: 34px;
        }
    }

    > h2 {
        font-family: unhackathon-font;
        text-align: center;
        font-size: 16px;
        @media #{$large-screen} {
            font-size: 24px;
        }
    }

    > h3 {
        font-family: unhackathon-font;
        font-size: 16px;
        text-align: center;
        @media #{$large-screen} {
            font-size: 18px;
        }
    }

    > h4 {
        font-family: unhackathon-font;
        font-size: 12px;
        text-align: center;
        @media #{$large-screen} {
            font-size: 12px;
        }
    }
}

.content p {
    margin: 1em 0;
}

.content li {
  margin-left: 55px;
}

.coc-copyright {
    font-style: italic;
}

#logo-hack {
    width: 200px;
    margin-left: .8em;
    margin-top: 0em;
    display: block;
}

.apply-span {
    text-decoration: none;
    font-family: unhackathon-font;
}
p .apply-span {
    font-size: 17px;    
}

a {
    color: #34BCA3;
}

.schedule {
    margin-left: auto;
    margin-right: auto;
}

.schedule-time {
    width: 100px;
    text-align: right;
    padding-right: 40px;
}

a:visited {
    color: #34BCA3;
}

#softheon-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90vw;
    @media #{$large-screen} {
        width: 373px;
    }
    img {
        width: 90vw;
        @media #{$large-screen} {
            width: 373px;
            height: 62px;
        }
    }
    
}

p.centered {
    text-align: center;
}

p.response-text {
    text-align: center;
    font-family: unhackathon-font;
    @media #{$large-screen} {
        font-size: 2vw;
    }
    font-size: 5vw;
}

.top-bar .page-link {
    font-family: unhackathon-font;
}

.top-bar .page-link.active .page-link-text{
    display: inline-block;
    border-bottom: 3px solid;
    padding-bottom: 0;
}

.top-bar .page-link .page-link-text{
    display: inline-block;
    padding-bottom: 3px;
}

.faq {
    >div {
        margin-top: 2rem;
    }
    h6 {
        font-family: unhackathon-font;
    }
}
